body{
    margin: 0;
    padding: 0;
    background-color: #E9ECEF;
}

.mainContainer{
    display: none;
}

.opContainer{
    display: flex;
    justify-content: space-around;
}

#score {
    display: none;
}